.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;  
}

button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    float: right;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 30px;
}

button:hover{
    background-color: rgba(255, 90, 95, 0.9);
}

.locations, .amenities{
    display: inline-block;
    height: 100%;
    width: 25%;
    margin: 0px 30px;
}
.locations{
    border-right: 1px solid #dddddd;
}

h3{
    font-weight: 600;
}
h4{
    font-weight: 600;
    font-size: 14px;
}